name: 'push: Deploy GitHub Pages'

run-name: 'Deploy GitHub Pages'

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Build
        run: bundle exec jekyll build

      - name: Upload files as artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: _site

  deploy:
    needs: build

    runs-on: [ubuntu-latest]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
